.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 4);
    -fx-background-color: #FFF;
    -fx-background-radius: 22px;
    -fx-border-radius: 22px;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-transition: all 0.2s ease-in-out;
}

.shadow:hover {
    -fx-background-color: #a4f7bc;
}

.shadow:pressed {
    -fx-background-color: #7bed9f;
}
