.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 4);
    -fx-background-color: #FFF;
    -fx-background-radius: 22px;
    -fx-border-radius: 22px;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

.shadow:hover {
    -fx-background-color: #a4f7bc;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.shadow:pressed {
    -fx-background-color: #2ed573;
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}


/* Botão Pagamento */
#btnAdicionar {
    -fx-background-color: #7bed9f;
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
    -fx-text-fill:#FFF;
    -fx-cursor: hand;
}

#btnAdicionar:hover {
    -fx-background-color: #a4f7bc;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

#btnAdicionar:pressed {
    -fx-background-color: #2ed573;
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}
